@font-face {
  font-family: "Gotham Pro";
  src: local("Gotham-Pro-Extra-Bold"), local("Gotham-Pro-Extra-Bold"),
    url("../../assets/fonts/GothamPro-Black.woff2") format("woff2"),
    url("../../assets/fonts/GothamPro-Black.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: local("Manrope Medium"), local("Manrope-Medium"),
    url("../../assets/fonts/Manrope-Medium.woff2") format("woff2"),
    url("../../assets/fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: local("Manrope Regular"), local("Manrope-Regular"),
    url("../../assets/fonts/Manrope-Regular.woff2") format("woff2"),
    url("../../assets/fonts/Manrope-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Light"), local("Roboto-Light"),
    url("../../assets/fonts/Roboto-Light.woff2") format("woff2"),
    url("../../assets/fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("../../assets/fonts/Roboto-Medium.woff2") format("woff2"),
    url("../../assets/fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Thin"), local("Roboto-Thin"),
    url("../../assets/fonts/Roboto-Thin.woff2") format("woff2"),
    url("../../assets/fonts/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), local("Roboto-Regular"),
    url("../../assets/fonts/Roboto-Regular.woff2") format("woff2"),
    url("../../assets/fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
