:root {
  /* ______________________ Ширина контейнера */
  --max-container-width: 953px;

  /* ______________________ Цвета
  Акцентный цвет для шрифта заголовков, фона кнопок внизу*/
  --accent-color: #fa5f10;

  /* 
  Цвет ниже для надписи Саратов | Краснодар под заголовками функций */
  --sub-title-color: #000000;

  /*
  2 цвета ниже используются для задания фона, цветовой градиент идёт сверху вниз, --gradient-first - верхний цвет градиента, --gradient-second - нижний цвет градиента
  */
  --gradient-first: #ffffff;
  --gradient-second: #e4e4e4;

  /* 
  Цвет шрифта кнопок в нижнем блоке
  */
  --buttons-color: #ffffff;
  /* ______________________ Шрифты
    Семейство основного шрифта для заголовков ссылок
  */
  --main-font-family: "Gotham Pro", sans-serif;
  /* 
    Семейство шрифта
    для дополнительного заголовка Саратов | Краснодар
  */
  --sub-font-family: "Manrope", "Roboto", sans-serif;

  /*
    Размер шрифта заголовков ссылок
  */
  --main-font-size: 26px;
  /*
    Размер шрифта для дополнительных заголовков Саратов | Краснодар
  */
  --sub-font-size: 16px;
  /*
    Размер шрифта кнопок нижнего блока
  */
  --footer-buttons-font-size: 34px;
}
