@import "./base/vars.css";
@import "./base/fonts.css";
@import "./base/normalize.css";

html,
.body {
  height: auto;
  background: var(--gradient-second);
}
.body {
  margin: 0;
  background: linear-gradient(
      to bottom,
      var(--gradient-first),
      var(--gradient-second)
    )
    no-repeat;
  width: 100%;
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
  overflow: auto;
  max-width: var(--max-container-width);
  width: 100%;
  padding: 78px 0 42px;
}
.header {
}
.header__img-wrapper {
  max-width: var(--max-container-width);
  width: 96%;
  text-align: center;
}
.header__img-wrapper svg path {
  fill: var(--accent-color);
}
/* ____________ main */
.main {
  margin-top: 92px;
  max-width: 800px;
  width: 100%;
}
.main__content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 57px 82px;
}
.main__content-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 40px;
  text-align: center;
  width: 328px;
  height: 298px;
  padding: 20px;
  -webkit-box-shadow: -5px -7px 10px 0px rgb(255, 255, 255),
    5px 9px 8px 0px rgba(0, 0, 0, 0.25);
  box-shadow: -5px -7px 10px 0px rgb(255, 255, 255),
    5px 9px 8px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 26.768%,
    rgb(228, 228, 228) 227.273%
  );
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
}
.main__content-list-item:hover {
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
}
.--main__content-list-item-gap {
  gap: 16px;
}
.main__content-list-item__icons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
  gap: 15px;
}
.main__content-list-item__icon-link-img {
  width: 208px;
}
.main__content-list-item__icon-shop-link-img {
  width: 169px;
}
.main__content-list-item__icon-gear-link-img {
  width: 169px;
}
.main__content-list-item__icon-box-link-img {
  width: 188px;
}
.link-title {
  margin-top: 16px;
  font-family: var(--main-font-family);
  font-weight: 900;
  font-size: var(--main-font-size);
  text-transform: uppercase;
  color: var(--accent-color);
}
.link-title--margin {
  margin-top: 33px;
}
.link-sub-title {
  font-family: var(--sub-font-family);
  margin-top: 8px;
  color: var(--sub-title-color);
  font-size: var(--sub-font-size);
  font-weight: 800;
  line-height: -1px;
  letter-spacing: 0%;
  text-align: center;
}
.link-sub-title__left {
  display: inline-block;
  margin-right: 14px;
}
.link-sub-title__right {
  display: inline-block;
  margin-left: 14px;
}
/* ____________ footer */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  gap: 90px;
  width: 96%;
  max-width: 953px;
  max-height: 298px;
  margin-top: 75px;
  padding: 20px;
  box-shadow: -5px -7px 10px 0px rgb(255, 255, 255),
    5px 9px 8px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 26.768%,
    rgb(228, 228, 228) 227.273%
  );
  border-radius: 40px;
}
.footer__icon {
  width: 200px;
}
.footer__button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 12px;
}
.footer__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 507px;
  min-height: 92px;
  width: 100%;
  padding: 15px 70px;
  border-radius: 54px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: var(--accent-color);
  color: var(--buttons-color);
  font-family: var(--main-font-family);
  font-size: var(--footer-buttons-font-size);
  font-weight: 900;
  line-height: -1px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.footer__button:hover {
  transform: scale(1.035);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.footer__button:active {
  transform: scale(1);
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.--box-icon-margin-top {
}

/* ____________ media */

@media (max-height: 1170px) {
  .container {
    padding: 40px 0;
  }
  .main,
  .footer {
    margin-top: 40px;
  }
  .main__content-list {
    gap: 47px 72px;
  }
  .main__content-list-item {
    width: 288px;
    height: 258px;
  }
  .main__content-list-item__icon-link-img {
    width: 148px;
  }
  .main__content-list-item__icon-shop-link-img,
  .main__content-list-item__icon-gear-link-img {
    width: 120px;
  }
  .main__content-list-item__icon-box-link-img {
    width: 131px;
  }
  .header__img-wrapper svg {
    width: 100%;
    height: auto;
  }
  .footer__icon {
    width: 170px;
  }
  .footer__button {
    font-size: 28px;
  }
  .link-title {
    font-size: 24px;
  }
}

@media (max-height: 1070px) {
  .container {
    padding: 30px 0;
  }
  .main,
  .footer {
    margin-top: 40px;
  }
  .main__content-list {
    gap: 45px 70px;
  }
  .main__content-list-item {
    width: 258px;
    height: 228px;
  }
  .main__content-list-item__icon-link-img {
    width: 123px;
  }
  .main__content-list-item__icon-shop-link-img,
  .main__content-list-item__icon-gear-link-img {
    width: 100px;
  }
  .main__content-list-item__icon-box-link-img {
    width: 111px;
  }
  .footer__icon {
    width: 150px;
  }
  .footer__button {
    font-size: 24px;
    min-height: 70px;
  }
  .link-title {
    font-size: 22px;
  }
}

@media (max-height: 970px) {
  .container {
    padding: 20px 0;
  }
  .main,
  .footer {
    margin-top: 35px;
  }
  .main__content-list {
    gap: 35px 50px;
  }
  .header__img-wrapper {
    text-align: center;
  }
  .header__img-wrapper svg {
    width: 80%;
    height: auto;
  }
  .footer {
    width: 80%;
  }
  .footer__icon {
    width: 140px;
  }
}

@media (max-height: 870px) {
  .header__img-wrapper svg {
    width: 65%;
    height: auto;
  }
  .main__content-list-item {
    width: 238px;
    height: 208px;
  }
  .main,
  .footer {
    margin-top: 25px;
  }
  .main__content-list {
    gap: 25px 45px;
  }
  .main__content-list-item__icon-link-img {
    width: 100px;
  }
  .main__content-list-item__icon-shop-link-img,
  .main__content-list-item__icon-gear-link-img {
    width: 80px;
  }
  .main__content-list-item__icon-box-link-img {
    width: 88px;
  }
  .link-title {
    font-size: 20px;
  }
  .footer {
    gap: 40px;
    width: 65%;
  }
  .footer__icon {
    width: 130px;
  }
  .footer__button {
    font-size: 20px;
    min-height: 60px;
  }
}
@media (max-height: 810px) {
  .header__img-wrapper svg {
    width: 70%;
  }
  .main__content-list {
    gap: 20px 60px;
  }
  .main__content-list-item {
    width: 238px;
    height: 198px;
  }
  .main__content-list-item__icon-link-img {
    width: 100px;
  }
  .main__content-list-item__icon-shop-link-img,
  .main__content-list-item__icon-gear-link-img {
    width: 80px;
  }
  .main__content-list-item__icon-box-link-img {
    width: 88px;
  }
  .link-title {
    font-size: 18px;
  }
  .--box-icon-margin-top {
    margin-top: 8px;
  }
  .link-title--margin {
    margin-top: 24px;
  }
  .footer {
    width: 70%;
  }
  .footer__button {
    font-size: 18px;
    min-height: 50px;
  }
  .footer__icon {
    width: 110px;
  }
}
@media (max-width: 1000px) {
  .container {
    padding: 10px 0 20px 0;
    margin: 0 10px;
  }
  .header__img-wrapper svg {
    width: 90%;
  }
  .footer {
    width: 90%;
  }
  .footer__button {
    font-size: 18px;
  }
}
@media (max-width: 700px) {
  .header__img-wrapper svg {
    width: 98%;
  }
  .footer {
    width: 98%;
  }
  .container {
    margin: 0;
  }
}
@media (max-width: 670px) and (max-height: 1170px) {
  .main__content-list {
    gap: 33px;
  }
  .container {
    margin: 0;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .link-title {
    font-size: 20px;
  }
  .footer__icon {
    width: 160px;
  }
  .main__content-list-item {
    width: 238px;
    height: 228px;
  }
  .main__content-list-item__icon-link-img {
    width: 124px;
  }
  .main__content-list-item__icon-shop-link-img,
  .main__content-list-item__icon-gear-link-img {
    width: 100px;
  }
  .main__content-list-item__icon-box-link-img {
    width: 109px;
  }
  .link-sub-title__left {
    margin-right: 7px;
  }
  .link-sub-title__right {
    margin-left: 7px;
  }
}
@media (max-width: 570px) {
  .container {
    padding: 5px 0;
    margin: 0 5px;
    padding-bottom: 20px;
  }
  .main__content-list {
    gap: 20px;
  }
  .main__content-list-item {
    width: 208px;
    height: 200px;
  }
  .link-title {
    font-size: 16px;
    margin-top: 8px;
  }
  .link-sub-title {
    font-size: 14px;
  }
  .link-sub-title__left {
    margin-right: 7px;
  }
  .link-sub-title__right {
    margin-left: 7px;
  }
  .footer {
    justify-content: space-between;
    gap: 10px;
  }
  .footer__icon {
    margin-left: 26px;
    width: 100px;
  }
  .footer__button {
    width: 90%;
    font-size: 18px;
    min-height: 80px;
  }
  .link-title--margin {
    margin-top: 22px;
  }
}
@media (max-width: 490px) {
  .footer__icon {
    margin-left: 0;
  }
  .footer__button {
    font-size: 16px;
  }
  .footer__icon {
    width: 100px;
  }
}
@media (max-width: 460px) {
  .main__content-list-item {
    width: 188px;
    height: 172px;
  }
  .main__content-list-item__icon-link-img {
    width: 75px;
  }
  .main__content-list-item__icon-shop-link-img,
  .main__content-list-item__icon-gear-link-img {
    width: 60px;
  }
  .main__content-list-item__icon-box-link-img {
    width: 65px;
  }
  .link-title {
    font-size: 15px;
  }
  .link-sub-title {
    font-size: 12px;
  }
  .main__content-list {
    gap: 15px;
  }
}
@media (max-width: 424px) {
  .container {
    padding: 5px 5px;
    margin: 0;
    padding-bottom: 20px;
  }
  .main__content-list {
    gap: 12px;
  }
  .footer {
    padding: 12px;
    gap: 0;
  }
  .footer__icon {
    width: 90px;
    margin-left: 10px;
  }
  .footer__button {
    width: 85%;
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .main__content-list-item {
    width: 164px;
    height: 160px;
  }
  .link-title {
    font-size: 13px;
  }
  .link-sub-title {
    font-size: 10px;
  }
  .link-title--margin {
    margin-top: 22px;
  }
  .link-sub-title__left {
    margin-right: 2px;
  }
  .link-sub-title__right {
    margin-left: 2px;
  }
}
@media (max-width: 380px) {
  .footer {
    padding-right: 20px;
  }
  .footer__button {
    width: 100%;
  }
  .footer__button-container {
    max-width: 185px;
  }
  .main,
  .footer {
    margin-top: 14px;
  }
}
@media (max-width: 350px) {
  .main__content-list-item {
    width: 148px;
    height: 168px;
  }
  .link-title {
    font-size: 12px;
  }
  .link-sub-title {
    font-size: 10px;
  }
  .link-title--margin {
    margin-top: 23px;
  }
}
@media (max-width: 324px) {
  .main__content-list-item__icon-link-img {
    width: 61px;
  }
  .main__content-list-item__icon-shop-link-img,
  .main__content-list-item__icon-gear-link-img {
    width: 50px;
  }
  .link-title {
    font-size: 11px;
  }
  .link-sub-title {
    font-size: 9px;
  }
  .link-title--margin {
    margin-top: 32px;
  }
  .main__content-list-item {
    padding: 20px 12px 20px;
    border-radius: 24px;
    width: 130px;
    height: 140px;
  }
  .--box-icon-margin-top {
    margin-top: 0px;
  }
  .link-title--margin {
    margin-top: 24px;
  }
  .footer__button-container {
    max-width: 175px;
  }
  .footer__button {
    width: 85%;
    font-size: 12px;
    min-height: 60px;
  }
}
